html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background:url(images/bg.png);
	margin:0;
	color:#666666;
	font-size:12px;
	font-family:Arial;
}
a{
	text-decoration:none;
	color:#666666;
}
#container{
	width:810px;
	margin:auto;
	background:#fff;
	border-radius:8px;
	padding-bottom:15px;
}
section img{
	margin:10px;
}
section img:hover{
	margin:10px;
}
section{
padding-top:3px;
}
header{
	padding-bottom:10px;
	padding-top:15px;
	font-family: 'Poiret One', cursive;
	font-size:28px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: normal;
	color:#9f9f9f;
	width:810px;
}
header #content{
	position:relative;
}
footer{
	padding:4px 0;
	width:810px;
	margin:auto;
	margin-top:15px;
	text-align:center;
}
footer a{
	color:silver;
}
header a{
	color:#9f9f9f;

}
.sub{
	font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
	margin-top: 10px;
	letter-spacing: 0.3em;
}
#pages{
	float:right;
	
}
#pages a{
	margin-right:15px;
}
#collecs{
}
.collec{
	float:left;
	width:181px;
	height:150px;
	margin:25px;
	
}
#collecs img{
	border:6px solid white;
}
#collecs img:hover{
	border:6px solid #9F9F9F;
}
.tiquette{
	display:block;
	text-decoration:none;
	width:100%;
	background:#fff;
	margin-left:10px;
	margin-top:-16px;
	padding-top:8px;
	padding-bottom:8px;
	font-size:9px;
	text-align:center;
	border:5px solid white;

}
.set{
	width:160px;
	text-align:center;
	float:left;	line-height:21px;
	margin-bottom:15px;

}
.photoset-desc{
	padding:20px;
}
.left{
	width:200px;
	height:400px;
	line-height:25px;
	float:left;
	margin-top:20px;
	text-align:center;
}
.left:first-letter{
	font-size:16px;
	color:gray;
	font-weight:bold;
}
.titre{
	color: #7c7c7c;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	display:block;
	height:20px;
	overflow:hidden;
}
.clear{
	width:100%;
	clear:both;
}
._t{
	display:inline-block;
	width:120px;
	height:120px;
	line-height:120px;
	text-align:center;
}
._q, ._q:hover{
	margin:15px;
}
._s{
	display:inline-block;
	width:260px;
	height:260px;
	line-height:260px;
	text-align:center;
}
._n, ._z{
	display:inline-block;
	width:660px;
}
._t img, ._s img{
	margin:0;
	vertical-align:middle;
}
#Choco_container_title a{
	color:black;
}
